<div class="flex mt-3">
  <h2 class="text-lg font-semibold text-gray-900">シミュレーション</h2>
  <button type="button" id="help-btn2"
    data-help-target-id="simulationHelp"
    data-action="help#openHelpDialog"
    class="help-button inline rounded-full bg-white p-1 text-gray-900 shadow-sm hover:bg-gray-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
      <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
    </svg>
  </button>
</div>
<div class="mt-2 w-full overflow-scroll rounded-md border border-gray-200">
  <svg id="svg02" class="h-[400px] w-[500px] md:w-full" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <marker id="arr" refX="0" refY="1" orient="auto">
        <path d="M0,0 L2,1 0,2 Z" fill="#eab942" />
      </marker>
    </defs>
    <g id="routes-layer"></g>
    <g id="facilities-layer"></g>
    <g id="operators-layer"></g>
  </svg>
</div>
