フォーム

<div id="JSobjectProp">
  <pre class="count">{"パラメータ":0}</pre>
</div>
<div class="svg-wrapper">

  <svg id="svg01" xmlns="http://www.w3.org/2000/svg" width="700" height="800">
    <text id="ob1" x="0" y="20">(゜∀゜)</text>
  </svg>
</div>
