<dialog id="facilityDialog" class="transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
  <h3 class="text-base font-semibold text-gray-900" id="modal-title">パラメータ</h3>
  <div id="hidden-id" hidden></div>
  <form id="facility-form" class="grid grid-cols-1 gap-5">
    <div class="grid grid-cols-2 items-center">
      <label for="name" class="flex">設備名</label>
      <input type="text" class="flex" id="facility-name" name="name" maxlength="16" size="15" />
    </div>
    <div class="grid grid-cols-2 items-center">
      <label for="processingTime">加工時間</label>
      <input type="number" id="processing-time" name="name" min="1" max="400" />
    </div>
    <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
      <button type="button" id="cancel-btn" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0" formmethod="dialog">取り消し</button>
      <button type="button" id="confirmBtn" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2" value="default">保存</button>
    </div>
  </form>
</dialog>
<dialog id="route-dialog" class="transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
  <h3 class="text-base font-semibold text-gray-900" id="modal-route-title">パラメータ</h3>
  <div id="route-hidden-id" hidden></div>
  <form id="route-form" class="grid grid-cols-1 gap-5">
    <div class="grid grid-cols-2 items-center">
      <label for="route-length" class="flex">距離</label>
      <input type="number" class="flex" id="route-length" name="root-length" min="1" max="50" />
    </div>
    <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
      <button type="button" id="route-cancel-btn" value="cancel" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0" formmethod="dialog">取り消し</button>
      <button type="button" id="route-confirm-btn" value="default" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">保存</button>
    </div>
  </form>
</dialog>
