<% set_meta_tags title: 'デモページ' %>
<% set_meta_tags description: 'シミュレーションのデモページです' %>
<div class="mx-auto max-w-7xl py-5 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900">デモページ</h1>
</div>
<%= render "form" %>
