<h1>Editing simulation</h1>

<%= render "form", simulation: @simulation %>

<br>

<div>
  <%= link_to "Show this simulation", @simulation %> |
  <%= link_to "Back to simulations", simulations_path %>
</div>
