<% set_meta_tags title: 'シミュレーション新規作成' %>
<% set_meta_tags description: 'シミュレーションの作成ページです' %>
<div class="mx-auto max-w-7xl py-5 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900">シミュレーション新規作成</h1>
</div>
<%= render "form" %>
