@tailwind base;
@tailwind components;
@tailwind utilities;

.dots {
  background-image: radial-gradient(circle, #ffffff57 1px, transparent 1px);
  background-position: 0 0;
  background-size: 3px 3px;
}
