<p>ようこそ！ <%= @email %>さん。lytcycleを利用いただきありがとうございます。</p>

<p>以下のリンクを押すとあなたのメールアドレスとlytcycleの会員情報を紐づけることができます。</p>

<p><%= link_to '会員情報を認証する', confirmation_url(@resource, confirmation_token: @token) %></p>
