<p>こんにちは <%= @resource.email %> さん</p>

<p>誰かがあなたのパスワードを変更するためのリンクをリクエストしました。以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに心当たりがない場合は、このメールは無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
