<footer class="bg-white py-10">
  <nav class="w-full max-w-screen-xl mx-auto">
    <ul class="flex justify-center gap-4">
      <li>
        <%= link_to "プライバシーポリシー", privacies_url ,class: "block text-sm text-gray-500 sm:text-center" %>
      </li>
      <li>
        <%= link_to "利用規約", term_path ,class: "block text-sm text-gray-500 sm:text-center" %>
      </li>
    </ul>
    <small class="block mt-6 text-sm text-gray-500 sm:text-center">
      2025 Lytcycle All Rights Reserved.
    </small>
  </nav>
</footer>
